<!DOCTYPE html>
<html>
  <head>
    <title>Movie Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
 <body>
<h1>Movie Time</h1>
<p>Select genre:  {{ movie }}</p>
<p><a href="https://www.imdb.com/chart/top/?ref_=nv_mv_250">Series</a></p>
<div>Select genre:</div>
<ul>
  <form method="POST" action="/">
    <li><input name="mycheckbox" value="1" type="checkbox">Action</li>
    <li><input name="mycheckbox" value="2" type="checkbox">Comedy</li>
    <li><input name="mycheckbox" value="3" type="checkbox">Drama</li>
    <li><input name="mycheckbox" value="4" type="checkbox">Sci-fi</li>
    <li><input name="mycheckbox" value="5" type="checkbox">Horror</li>
    <li><input name="mycheckbox" value="6" type="checkbox">Thriller</li>
    <li><input name="mycheckbox" value="7" type="checkbox">Romance</li>
    <input type="submit" value="search :(">
  </form>
</ul>
{{ test }}
{% for movie in movies %}
<p>{{movie["name"]}}</p>
<a href="{{ movie["link"]}}">IMDB</a>
{% endfor %}
</body> 
</html>
