<!DOCTYPE html>
<html>
  <head>
    <title>Movie Time</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
 <body>
<h1>Movie Time</h1>
<p>Top rated series:  {{ movie }}</p>
<p><a href="https://www.imdb.com/chart/toptv/">Series</a></p>
<div>Select genre:</div>
<ul>
  <form method="POST" action="/">
    <li><input name="action" value="1" type="checkbox">Action</li>
    <li><input name="comedy" value="1" type="checkbox">Comedy</li>
    <li><input name="drama" value="1" type="checkbox">Drama</li>
    <li><input name="scifi" value="1" type="checkbox">Sci-fi</li>
    <li><input name="horror" value="1" type="checkbox">Horror</li>
    <li><input name="thriller" value="1" type="checkbox">Thriller</li>
    <li><input name="romance" value="1" type="checkbox">Romance</li>
    <input type="submit" value="Search">
  </form>
</ul>
{{ test }}
{% for movie in movies %}
<p>{{ movie["title"]}}</p>
<p>Rating: {{ movie["rating"]}}</p>
<a href="{{ movie["link"]}}">IMDB</a>
{% endfor %}
</body> 
</html>
